doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Till New Year
    link(
      rel="stylesheet/less"
      type="text/css"
      href="/index.less"
    )
  body
    h1#caption
    h1#time
    script(src="/node_modules/less/dist/less.js")
    script(src="/node_modules/dwayne/build/dwayne.js")
    script(src="/index.js")
