doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property = 'og:title', content = 'Новый год')
    meta(property = 'og:description', content = 'Интересно узнать сколько осталось до Нового Года?')
    meta(property = 'og:type', content = 'website')
    meta(property = 'og:image', content = '/tny/tny.jpg')
    title Till New Year
    link(
      rel="stylesheet/less"
      type="text/css"
      href="/tny/index.less"
    )
  body
    h1#caption
    h1#time
    script(src="/tny/node_modules/less/dist/less.js")
    script(src="/tny/node_modules/dwayne/build/dwayne.js")
    script(src="/tny/index.js")
