.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

body {
  .flex();

  flex-direction: column;
  background-color: green;
  color: white;
}

#time {
  .flex();
}
